Repository maximegel/blogster: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(readme): initial
  .markdownlintrc
  .vscode/settings.json
  README.md
  assets/banner.png
Due: prettier --write

docs(cli): improve commands help
  packages/cli/src/cli.ts
  packages/cli/src/commands/diff/diff-command.ts
  packages/cli/src/commands/push/push-command.ts
  packages/cli/src/commands/status/status-command.ts
  packages/cli/src/shared/options/platforms-option.ts
Due: prettier --write

ci: add release workflow
  .github/workflows/release.yml
  lerna.json
Due: none

fix(core): fix type error
  packages/core/src/posts/processors/github/embed-gists.ts
Due: prettier --write

fix(plugin-medium): fix imports
  packages/plugin-medium/src/fetcher-plugin.ts
  packages/plugin-medium/src/index.ts
Due: prettier --write

build(*): fix dependencies, add `clean` script
  lerna.json
  package.json
  packages/cli/package.json
  packages/cli/tsconfig.lib.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/tsconfig.lib.json
  packages/plugin-devto/package.json
  packages/plugin-devto/tsconfig.lib.json
  packages/plugin-medium/package.json
  packages/plugin-medium/tsconfig.lib.json
  tsconfig.base.json
  yarn.lock
Due: none

ci: set git identity
  .github/workflows/release.yml
  packages/core/tsconfig.json
  packages/core/tsconfig.lib.json
Due: none

chore(release): publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/plugin-devto/CHANGELOG.md
  packages/plugin-devto/package.json
  packages/plugin-medium/CHANGELOG.md
  packages/plugin-medium/package.json
Due: prettier --write

ci: skip access verification
  .github/workflows/release.yml
Due: none

docs(*): remove changelog versions before v1.0.0
  packages/.markdownlintrc
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/plugin-devto/CHANGELOG.md
  packages/plugin-medium/CHANGELOG.md
Due: prettier --write

ci: replace release workflow with build
  .github/workflows/build.yml
Due: none

fix(cli): fix imports, load plugins from config
  packages/cli/src/cli.ts
  packages/cli/src/commands/diff/diff-command.ts
  packages/cli/src/commands/diff/diff-view.ts
  packages/cli/src/commands/push/push-command.ts
  packages/cli/src/commands/push/push-view.ts
  packages/cli/src/commands/status/status-command.ts
  packages/cli/src/commands/status/status-view.ts
  packages/cli/src/core/options/custom-option.ts
  packages/cli/src/shared/views/label-component.ts
  packages/cli/src/shared/views/log-entry-component.ts
  packages/cli/src/shared/views/task-list-component.ts
  packages/cli/tsconfig.lib.json
Due: prettier --write

build(core): add tsconfig base url
  packages/core/tsconfig.lib.json
Due: none

fix(core): add `plugins` to config interface
  packages/core/src/config/config.ts
  packages/core/src/config/providers/defaults.ts
Due: prettier --write

docs(readme): add build badge
  README.md
Due: prettier --write

fix(plugin-devto): fix "cannot find module" error
  packages/plugin-devto/package.json
Due: none

fix(plugin-medium): fix "cannot find module" error
  packages/plugin-medium/package.json
Due: none

chore(release): publish
  packages/plugin-devto/CHANGELOG.md
  packages/plugin-devto/package.json
  packages/plugin-medium/CHANGELOG.md
  packages/plugin-medium/package.json
Due: prettier --write

docs(readme): improve "getting started" section
  README.md
Due: prettier --write

docs(readme): add "command line", "configuration" and "environment variables" sections
  README.md
Due: prettier --write

docs(readme): simplify "environment variables" section
  README.md
Due: prettier --write

docs(readme): fix title in first post example
  README.md
Due: prettier --write

docs(readme): add "tooling", "example" and "known issues" sections
  README.md
Due: prettier --write

docs(readme): add commands help
  .markdownlintrc
  README.md
Due: prettier --write

chore(vscode): edit settings
  .vscode/settings.json
Due: none

chore: edit commitlint scopes
  .commitlintrc.js
Due: prettier --write, eslint --fix

docs(cli): improve commands help
  packages/cli/src/cli.ts
  packages/cli/src/commands/diff/diff-command.ts
  packages/cli/src/commands/push/push-command.ts
  packages/cli/src/commands/status/status-command.ts
  packages/cli/src/shared/arguments/globs-argument.ts
  packages/cli/src/shared/arguments/index.ts
  packages/cli/src/shared/options/platforms-option.ts
Due: prettier --write

build(*): remove unnecessary tsconfig options
  packages/cli/tsconfig.lib.json
  packages/core/tsconfig.lib.json
  packages/plugin-devto/tsconfig.lib.json
  packages/plugin-medium/tsconfig.lib.json
Due: none

fix(core): no longer fails without a config file
  packages/core/src/config/providers/cosmic.ts
Due: prettier --write

docs(readme): fix usage of the `--platforms` cli option
  README.md
Due: prettier --write

chore(*): set up jest
  jest.config.base.js
  jest.config.e2e.js
  jest.config.spec.js
  package.json
  packages/cli/jest.config.e2e.js
  packages/cli/jest.config.js
  packages/cli/tsconfig.e2e.json
  packages/cli/tsconfig.json
  packages/plugin-medium/jest.config.js
  packages/plugin-medium/jest.config.spec.js
  packages/plugin-medium/tsconfig.json
  packages/plugin-medium/tsconfig.spec.json
  yarn.lock
Due: prettier --write, eslint --fix

style(core): rename first steps of builders
  packages/core/src/posts/fetcher/fetcher-builder.ts
  packages/core/src/posts/pusher/pusher-builder.ts
Due: prettier --write

fix(plugin-medium): fix "cannot read property of null" errors in list conversion
  packages/plugin-medium/src/converter/paragraphs/list.ts
Due: prettier --write

test(plugin-medium): test unordered list conversion
  packages/plugin-medium/package.json
  packages/plugin-medium/src/converter/converter.ts
  packages/plugin-medium/src/converter/paragraphs/list.spec.ts
  packages/plugin-medium/src/dtos/post-content-dto.ts
  packages/plugin-medium/src/dtos/post-dto.ts
  packages/plugin-medium/src/dtos/post-paragraph-dto.ts
  packages/plugin-medium/src/dtos/post-section-dto.ts
  packages/plugin-medium/testing/factories/dtos/index.ts
  packages/plugin-medium/testing/factories/dtos/post.ts
  packages/plugin-medium/testing/factories/index.ts
  packages/plugin-medium/testing/index.ts
Due: prettier --write

build(plugin-medium): use tsconfig paths in jest config
  packages/plugin-medium/jest.config.spec.js
  packages/plugin-medium/tsconfig.spec.json
Due: prettier --write, eslint --fix

test(cli): add help option e2e tests
  package.json
  packages/cli/e2e/integration/help-option.spec.ts
  packages/cli/e2e/support/index.ts
  packages/cli/e2e/support/run.ts
  packages/cli/jest.config.e2e.js
  packages/cli/package.json
  packages/cli/tsconfig.e2e.json
  packages/plugin-medium/src/converter/paragraphs/list.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  eslint --fix: any of: *.js
