Repository maximegel/blogster: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): publish
  packages/plugin-medium/CHANGELOG.md
  packages/plugin-medium/package.json
Due: prettier --write

refactor(core): refactor `PostFetcherPlugin` and `PostPusherPlugin` interfaces
  packages/core/src/plugins/plugin-predicate.ts
  packages/core/src/posts/fetcher/fetcher-plugin.ts
  packages/core/src/posts/fetcher/fetcher.ts
  packages/core/src/posts/pusher/pusher-plugin.ts
  packages/core/src/posts/pusher/pusher.ts
  packages/plugin-devto/src/fetcher-plugin.ts
  packages/plugin-devto/src/index.ts
  packages/plugin-medium/src/fetcher-plugin.ts
  packages/plugin-medium/src/index.ts
Due: prettier --write

test(plugin-devto): add client unit tests
  packages/plugin-devto/jest-setup.ts
  packages/plugin-devto/jest.config.js
  packages/plugin-devto/jest.config.spec.js
  packages/plugin-devto/package.json
  packages/plugin-devto/src/client.spec.ts
  packages/plugin-devto/src/client.ts
  packages/plugin-devto/tsconfig.spec.json
Due: prettier --write, eslint --fix

test(plugin-medium): add client and converter unit tests
  packages/plugin-medium/jest-setup.ts
  packages/plugin-medium/jest.config.spec.js
  packages/plugin-medium/package.json
  packages/plugin-medium/src/client.spec.ts
  packages/plugin-medium/src/client.ts
  packages/plugin-medium/src/converter/converter.ts
  packages/plugin-medium/src/converter/markups/emphasis.spec.ts
  packages/plugin-medium/src/converter/markups/inline-code.spec.ts
  packages/plugin-medium/src/converter/markups/link/link.spec.ts
  packages/plugin-medium/src/converter/markups/link/link.ts
  packages/plugin-medium/src/converter/markups/link/url-resolvers/index.ts
  packages/plugin-medium/src/converter/markups/link/url-resolvers/medium-account.ts
  packages/plugin-medium/src/converter/markups/link/url-resolvers/twitter-account.ts
  packages/plugin-medium/src/converter/markups/strong.spec.ts
  packages/plugin-medium/src/converter/paragraphs/code.spec.ts
  packages/plugin-medium/src/converter/paragraphs/code.ts
  packages/plugin-medium/src/converter/paragraphs/embed/embed.spec.ts
  packages/plugin-medium/src/converter/paragraphs/heading.spec.ts
  packages/plugin-medium/src/converter/paragraphs/index.ts
  packages/plugin-medium/src/converter/paragraphs/list.spec.ts
  packages/plugin-medium/src/converter/paragraphs/quote.spec.ts
  packages/plugin-medium/src/converter/paragraphs/quote.ts
  packages/plugin-medium/src/converter/paragraphs/text.spec.ts
  packages/plugin-medium/src/dtos/post-content-dto.ts
  packages/plugin-medium/src/dtos/post-dto.ts
  packages/plugin-medium/src/dtos/post-paragraph-dto.ts
  packages/plugin-medium/src/dtos/post-paragraph-markup-dto.ts
  packages/plugin-medium/testing/factories/dtos/index.ts
  packages/plugin-medium/testing/factories/dtos/post.ts
  packages/plugin-medium/testing/factories/index.ts
  packages/plugin-medium/testing/index.ts
  packages/plugin-medium/tsconfig.spec.json
Due: prettier --write, eslint --fix

feat(cli): allow to specify a custom config path using the `--config` option
  packages/cli/src/cli.ts
  packages/cli/src/commands/diff/diff-command.ts
  packages/cli/src/commands/push/push-command.ts
  packages/cli/src/commands/status/status-command.ts
  packages/cli/src/commands/status/status-view.ts
  packages/cli/src/core/command-argument.ts
  packages/cli/src/core/command-option.ts
  packages/cli/src/core/command.ts
  packages/cli/src/core/index.ts
  packages/cli/src/core/options/custom-option.ts
  packages/cli/src/core/options/index.ts
  packages/cli/src/shared/arguments/globs-argument.ts
  packages/cli/src/shared/arguments/globs.ts
  packages/cli/src/shared/arguments/index.ts
  packages/cli/src/shared/commander.ts
  packages/cli/src/shared/options/index.ts
  packages/cli/src/shared/options/platforms.ts
Due: prettier --write

refactor(core): pass only body in processors intead of whole post
  packages/core/src/posts/fetcher/plugin-options/processors.ts
  packages/core/src/posts/post-processor.ts
Due: prettier --write

refactor(core): rename `strip-code-attrs` processor
  packages/core/src/posts/processors/index.ts
  packages/core/src/posts/processors/strip-code-attrs.ts
Due: prettier --write

fix(core): resolve config plugins and globs relative to config file
  packages/core/src/config/providers/cosmic.ts
Due: prettier --write

fix(core): fix null `tags` in diff changes
  packages/core/src/posts/processors/match-tags-with.ts
Due: prettier --write

test(cli): add status command e2e tests
  .gitignore
  packages/cli/.gitignore
  packages/cli/e2e/fixtures/plugins/post-fetcher-plugin.ts
  packages/cli/e2e/integration/help-option.spec.ts
  packages/cli/e2e/integration/status-command.spec.ts
  packages/cli/e2e/support/cli.ts
  packages/cli/e2e/support/index.ts
  packages/cli/e2e/support/run.ts
  packages/cli/jest-setup.e2e.ts
  packages/cli/jest.config.e2e.js
  packages/cli/package.json
  packages/cli/tsconfig.e2e.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix

build(core): install `find-root` module
  packages/core/package.json
Due: none

docs(readme): update cli help
  README.md
Due: prettier --write

chore: edit vscode settings
  .vscode/settings.json
Due: none

ci: run all tests in build workflow
  .github/workflows/build.yml
Due: none

build(*): exclude `.spec.ts` files from build outputs
  packages/cli/tsconfig.lib.json
  packages/core/tsconfig.lib.json
  packages/plugin-devto/tsconfig.lib.json
Due: none

test(cli): add e2e tests for diff and push commands
  jest.config.e2e.js
  package.json
  packages/cli/e2e/fixtures/plugins/devblog-fetcher-plugin.ts
  packages/cli/e2e/fixtures/plugins/devblog-pusher-plugin.ts
  packages/cli/e2e/fixtures/plugins/techblog-fetcher-plugin.ts
  packages/cli/e2e/integration/diff-command.spec.ts
  packages/cli/e2e/integration/push-command.spec.ts
  packages/cli/e2e/integration/status-command.spec.ts
  packages/cli/e2e/support/cli.ts
  packages/cli/jest-setup.e2e.ts
  packages/cli/jest.config.e2e.js
  packages/cli/package.json
Due: prettier --write, eslint --fix

fix(core): handle missing cover image in unsplash processor
  packages/core/src/posts/processors/unsplash/parametrize-cover-image.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css}
  eslint --fix: any of: *.js
